# --- Core Orchestration ---
natsort==8.5.0
pillow==10.4.0
python-magic==0.4.27
requests==2.32.3
google-cloud-vision==3.7.4

# --- OCR Engines ---
pytesseract==0.3.10
manga-ocr==0.1.10
paddleocr==2.8.1
paddlepaddle==2.6.2
opencv-python-headless==4.10.0.84

# --- TTS Engines ---
edge-tts==6.1.9
elevenlabs==1.2.0
git+https://github.com/myshell-ai/MeloTTS.git@main

# ChatTTS and XTTS-v2 dependencies
ChatTTS==0.3.0
TTS==0.22.0
scipy==1.13.1
torch==2.4.1
torchaudio==2.4.1

# --- Utilities ---
numpy==1.26.4
